#wrap{
    border: 1px solid #999;
    padding:20px;
    background-color: #eee;
    overflow: hidden;
}
#name,#logo,#introduct{
    border: 1px solid #999;
    padding: 20px;
    background-color: #fff;
}
#name{
    width: 160px;
    float: left;
    margin: 5px;
}
#name span{
    float: right;
}
#introduct{
    margin: 5px 140px 5px 220px;
}
#logo{
    width: 80px;
    float: right;
    margin: 5px;
    padding: 15px 20px;
}
img{
    border: 1px solid #999;
}
#logo img{
    margin: 5px 0;
}
